<!--The content below is only a placeholder and can be replaced.-->
<div id="content" class="col-lg-10 offset-lg-1">
  
  <header id="header" class="col-lg-12">
    <h1>
      {{ title }}
    </h1>
  </header>

  <nav id="menu" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></li>
      <li><a [routerLinkActive]="['activado']">Crear Productos</a></li>
      <div style="clear:both;"></div>
    </ul>
  </nav>
  
  <section id="main" class="col-lg-12" >
    <!-- <h3>Texto Principal</h3> -->
    <router-outlet></router-outlet>
  </section> 
  <!--<div class="clearfix"></div>-->
  <footer id="footer" class="col-lg-12">
      <p>Curso de Angular 4-7 por Udemy</p>
    </footer>
  
</div>



